@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	display: none;
}
.super {
	background: linear-gradient(353deg,#1fcff1 15.61%,#234cb6 41.38%,rgba(35,76,182,.1) 79.94%);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}


.superdes {
	background: linear-gradient(91.45deg, #8bd1d2 1.54%, #e07ff9 118.27%);
	background-clip: text;
	color: transparent;
}
.nftheading {
	background: linear-gradient(90.01deg, #37357e 4.09%, #ab06a4 98.16%);
	color: transparent;
	background-clip: text;
}

.bgLanding {
	background-image: url('/landing.png');
	width: 100%;
	background-size: cover;
	height: 100vh;
}
.bgForm {
	background-image: url('/Form.png');
	width: 100%;
	background-size: cover;
	background-repeat: repeat-y;
	height: max-content;
}
.bgClaim {
	background-image: url('/Form.png');
	width: 100%;
	background-size: cover;
	background-repeat: repeat-y;
	height: 100vh;
}
.wallet-adapter-button-trigger {
	background: linear-gradient(
		189.84deg,
		#534bb2 7.39%,
		#551ef5 77.27%
	) !important;
	width: 14rem !important;
	display: flex;
	justify-content: center;
}
.wallet-adapter-button {
	border-radius: 2rem !important;
	font-size: 1.1rem !important;
}
.wallet-adapter-button-start-icon {
	width: 2rem !important;
	height: 2rem !important;
}
.formborder {
	border: #9dbcff;
	border-style: solid;
	border-width: 5px;
}
.bgnft {
	background-image: url('/nft.jpg');
	background-size: cover;
	border: 1px solid;
	padding: 10px;
	box-shadow: 4px 7px 18px #e5e5e5;
}
.nftLine {
	background: linear-gradient(90.01deg, #37357e 4.09%, #ab06a4 98.16%);
}
